{{define "order-list-view"}}
{{template "layout-view"}}
<table>
    <thead>
      <tr>
        <th>Customer Name</th>
        <th>Order Number</th>
        <th>Status</th>
        <th>Details</th>
        <th>Order Date</th>
      </tr>
    </thead>
    <tbody>
      {{range .Orders}}
      <tr>
        <td>{{.CustomerName}}</td>
        <td>{{.OrderNumber}}</td>
        <td>{{.OrderStatus}}</td>
        <td><a href="#">Lihat Detail</a></td>
        <td>{{.OrderDate.Format "2006-01-02"}}</td>
      </tr>
      {{else}}
      <tr>
        <td colspan="5">No order data available</td>
      </tr>
      {{end}}
    </tbody>
  </table>
  {{end}}